NEXT_PUBLIC_SUPABASE_URL=https://sqllrsnzlrgmjjpfxdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxbHJsc256bHJnZ21qanBmeGRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4Nzg1NDcsImV4cCI6MjA3ODQ1NDU0N30.z4RTnpIUDtoTWdICDF2NOesgru21T9yILHUQ4rRu6dA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxbHJsc256bHJnZ21qanBmeGRvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjg3ODU0NywiZXhwIjoyMDc4NDU0NTQ3fQ.AYb1CyXYlvrUYRK-WYMjXQpr1xtg8A4osqrxH6L4VGE

# Optional: secret for auth helpers (set to random string in .env.local)
NEXTAUTH_SECRET=7z4cboJapqctoADZGO-blnAj6ouRp3WFBcfJDJGJy7U

